*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: -webkit-gradient(linear,left top,right top,
    from(#0e184d),to(#2c60c5));
    font-family: Arial;
}
ul{
    list-style: none;
}
@-webkit-keyframes frame01{
    from{opacity: 0}
    to{opacity: 1}
}
@-webkit-keyframes frame02{
    from{transform: scale(3)}
    to{transform: scale(1)}
}

.csbg{
    width: 100%;
    height: 668px;
    position: fixed;
    z-index: -1;
}
.cslogo{
    width:334px;
    height: auto;
    position: relative;
    margin-top:50px;
    margin-left:80px;
   -webkit-animation: frame01 2s linear,
   frame02 2s linear;
}
.csmenu{
    width: 100%;
    height: 65px;
    background: url("../images/csulbg.png");
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
}
.csmenu li{
    width:150px;
    height: 65px;
    text-align: center;
    line-height: 65px;
}
.csmenu li:nth-child(1){
    margin-left: 68px;
}
.csmenu li:hover{
    background-color: #000033;
    background-image: url("../images/cslibg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}
.csimg_wrap{
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.csimg_wrap:hover .csimg1_box{
    bottom: 0;
    transition:all 0.5s linear;
}
.csimg1{
    width: 100%;
    height: auto;
}
.csimg1_box{
    width: 100%;
    height: 20%;
    position: absolute;
    background:rgba(0,10,58,0.75) ;
    bottom: -20%;
}

@media screen and (max-width: 800px){
    .cslogo{
        width:200px;
        height: auto;
        position: relative;
        margin-top:30px;
        margin-left:50px;
    }
    .csmenu{
        height: 50px;
        font-size: 16px;
    }
    .csmenu li:nth-child(1){
        margin-left: 10px;
    }
    .csmenu li{
        width:150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

}
@media screen and (max-width: 540px){
    .cslogo{
        width:200px;
        height: auto;
        position: relative;
        margin-top:10px;
        margin-left:20px;
    }
    .csmenu{
        height: 40px;
        font-size: 13px;
    }
    .csmenu li:nth-child(1){
        margin-left: 0px;
    }
    .csmenu li{
        width:100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
}