*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
    transform-style: preserve-3d;
    perspective: 2000px;
    background:url("../images/rmbg2.png") ;
    background-position: center center;
}
a:hover{
    cursor: pointer;
}
ul{
    list-style: none;
}
@-webkit-keyframes frame1{
    from{opacity: 0}
    to{opacity: 1}
}
@-webkit-keyframes frame2{
    from{transform:translateX(20px)}
    to{transform:translateX(0px)}
}
@-webkit-keyframes frame3{
    from{transform:rotateX(0deg)}
    to{transform:rotateX(360deg)}
}
@-webkit-keyframes frames4 {
    from{-webkit-transform: rotateY(0deg)}
    to{-webkit-transform: rotateY(360deg)}
}
@-webkit-keyframes frame5 {
    from{-webkit-transform: translateX(30px)}
    to{-webkit-transform: translateX(0px)}
}
@-webkit-keyframes frame6 {
    from{-webkit-transform: translateX(-30px)}
    to{-webkit-transform: translateX(0px)}
}
@-webkit-keyframes frame7{
    from{-webkit-transform: scale(1,0)}
    to{-webkit-transform: scale(1,1)}
}
@-webkit-keyframes frame8{
    from{left: -100%}
    to{left: -0%}
}
@-webkit-keyframes frame9{
    from{left: 100%}
    to{left: -0%}
}

.rmbg{

}
.rmlogo{
  width: 211px;
    height: 82px;
    -webkit-animation:frame7 2s linear;
    -webkit-animation-fill-mode :forwards;
}
.rmul1{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation:frame1 5s linear,
    frame2 2s linear;
    -webkit-animation-fill-mode :forwards;
}

.cup2{
    width: 45px;
    height: 73px;
    background: url("../images/rmcup2.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup3{
   width: 37px;
    height: 73px;
    background: url("../images/rmcup3.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup4{
    width: 32px;
    height: 73px;
    background: url("../images/rmcup4.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup5{
    width: 27px;
    height: 73px;
    background: url("../images/rmcup5.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup6{
   width: 57px;
    height: 73px;
    background: url("../images/rmcup6.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup7{
   width: 38px;
    height: 73px;
    background: url("../images/rmcup7.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup8{
    width: 39px;
    height: 73px;
    background: url("../images/rmcup8.png");
    margin-left: 10px;
    margin-right: 10px;
}
.cup2:hover{
    background: url("../images/rmcup2_1.png");
}
.cup3:hover{
    background: url("../images/rmcup3_1.png");
}
.cup4:hover{
    background: url("../images/rmcup4_1.png");
}
.cup5:hover{
    background: url("../images/rmcup5_1.png");
}
.cup6:hover{
    background: url("../images/rmcup6_1.png");
}
.cup7:hover{
    background: url("../images/rmcup7_1.png");
}
.cup8:hover{
    background: url("../images/rmcup8_1.png");
}

.rmmenu{
    width: 100%;
    height: 50px;
    background: #000000;
    color: #ffffff;
    display: flex;
    margin-top: 20px;
    position: relative;
    z-index: 5;
}
.rmmenu li{
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 230px;
    font-size: 18px;
    border-right:1px solid #303030;
    border-left: 1px solid #181818;
}
.rmmenu li:hover{
    background-color: rgb(82, 82, 82);
    background-image: url("../images/rmlogo.png");
    background-size:30px auto;
    background-repeat:no-repeat ;
    background-position: left center;
    -webkit-animation:frame3 0.5s linear;
    -webkit-animation-fill-mode :forwards;
}
.imgshowbox{
    position: relative;
    width: 100%;
    left: 10%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    /*border: 1px solid #000000;*/
}
.imgshow1{
    width: 100%;
    height: auto;
    opacity: 0.9;
    /*border: 1px solid #000000;*/
}
.imgshowtext1{
    width: 80%;
    height:5%;
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    left: -100%;
    bottom: 0;

}
.imgshowtext2{
    width: 80%;
    height:5%;
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    bottom: 5%;
    left: 100%;
}
.imgshowtext3{
    width: 80%;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 3%;
    opacity: 0;
}
.imgshowbox:hover .imgshowtext1{
    -webkit-animation:frame8 3s linear;
    -webkit-animation-fill-mode :forwards;
}
.imgshowbox:hover .imgshowtext2{
    -webkit-animation:frame9 3s linear;
    -webkit-animation-fill-mode :forwards;
}
.imgshowbox:hover .imgshowtext3{
    -webkit-animation:frame1 2s linear;
    -webkit-animation-delay:3s;
    -webkit-animation-fill-mode :forwards;
}
.imgshow1{
    width: 80%;
    height: auto;
    opacity: 0.9;
}
.rmtitle1{
    font-size: 30px;
    margin-top:20px;
    margin-left: 10%;
}
.rmplayer_box2{
    width: 100%;
    padding-top: 20px;
    position: relative;
}
.rmplayer_img2{
    width: 30%;
    position: relative;
    left: 60%;
    cursor: pointer;
}
.rmplayer_img3{
    width: 40%;
    position: relative;
    left: 15%;
    cursor: pointer;
}
.rmplayer_img3_text{
    font-size: 50px;
    font-family: "MV Boli";
    position: absolute;
    top:10%;
    left: 64%;
}
.rmplayer_img5{
    width: 28%;
    position: relative;
    left: 65%;
    cursor: pointer;
}
.rmplayer_img5_text{
    font-size: 50px;
    font-family: "MV Boli";
    position: absolute;
    top:10%;
    left: 30%;
}
.rm_gifimgbox{
    display: flex;
    position: absolute;
    width: 660px;
    justify-content: space-between;
    top:40%;
    left: 10%;
    opacity: 0;
}
.rm_gifimgbox2{
    display: flex;
    position: absolute;
    width: 660px;
    justify-content: space-between;
    top:40%;
    left: 45%;
    opacity: 0;
}
.rm_gifimg{
   width: 200px;
    height: 120px;
}
.rmplayer_img2:hover ~ .rm_gifimgbox{
    -webkit-animation:frame1 0.5s linear,
    frame5 1s linear;
    -webkit-animation-fill-mode :forwards;
}
.rmplayer_img3:hover ~ .rm_gifimgbox2{
    -webkit-animation:frame1 0.5s linear,
    frame6 1s linear;
    -webkit-animation-fill-mode :forwards;
}


.rmplayer_img5:hover ~ .rm_gifimgbox{
    -webkit-animation:frame1 0.5s linear,
    frame5 1s linear;
    -webkit-animation-fill-mode :forwards;
}

@media screen and (max-width: 800px){
    .rmlogo{
        width: 111px;
        height: 42px;
    }
    .rmmenu{
        width: 100%;
        height: 30px;
    }
    .rmmenu li{
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 230px;
        font-size: 15px;
    }
    .rmmenu li:hover{
        background-color: rgb(82, 82, 82);
        background-image: url("../images/rmlogo.png");
        background-size:15px auto;
        background-repeat:no-repeat ;
        background-position: left center;
    }
    .rmplayer_imgtext{
        font-size: 20px;
    }
    .rmplayer_img3_text{
        font-size: 20px;
    }
    .rmplayer_img4_text{
        font-size: 20px;
    }
    .rmplayer_img5_text{
        font-size: 20px;
    }

    .rm_gifimgbox{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 150px;
        height: 260px;
        top:30%;
        left: 30%;
    }
    .rm_gifimgbox2{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 150px;
        height: 260px;
        top:25%;
        left: 60%;
    }
    .rm_gifimg{
        width: 150px;
        height: 80px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 540px){
    .rmlogo{
        width: 80px;
        height: 30px;
    }
    .rmul1{
        display: none;
    }
    .rmmenu li{
        font-size: 12px;
    }
    .rm_gifimgbox{
        display: none;
    }
    .rm_gifimgbox2{
        display: none;
    }
}