*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: -webkit-gradient(linear,left top,right top,
    from(#000000),to(#FE0000));
    perspective: 2000px;
}
ul{
    list-style: none;
}
@-webkit-keyframes frame21{
    from{opacity: 0}
    to{opacity: 1}
}
@-webkit-keyframes frame22{
    from{transform: scale(3)}
    to{transform: scale(1)}
}
@-webkit-keyframes frame23{
    from{transform:rotate(0deg) }
    to{transform:rotate(720deg)}
}
.mlbg{
    width: 100%;
    height: 668px;
    position: fixed;
    z-index: -1;
}
.mllogo{
    width:450px;
    height: auto;
    position: relative;
    -webkit-animation:frame21 0.5s linear,
    frame22 0.5s linear,
    frame23 0.5s linear;
    margin-left: 50px;
}
.mlmenu{
    width: 90%;
    height: 65px;
    margin:0 auto;
    background:-webkit-gradient(linear,left top,left bottom,
    from(#000000),to(#FE0000));;
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
}
.mlmenu li{
    width:150px;
    height: 65px;
    text-align: center;
    line-height: 65px;
}
.mlmenu li:nth-child(1){
    margin-left: 68px;
}
.mlmenu li:hover{
    background-image: url("../images/mlli_bg.jpg");
    background-position: left center;
    background-size: 35px auto;
    background-repeat: no-repeat;
}
.mlimgshow{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.mlche1{
    display: none;
}
.mlche2{
    display: none;
}
.mlche3{
    display: none;
}
.mllab1{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #888888;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 45%;
    cursor: pointer;
}
.mllab2{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #888888;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
}
.mllab3{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #888888;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 55%;
    cursor: pointer;
}
.mlche1:checked ~ .mllab1{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.mlche2:checked ~ .mllab2{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.mlche3:checked ~ .mllab3{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.mlimg1{
    width: 100%;
    height: auto;
    display: none;
}
.mlimg2{
    width: 100%;
    height: auto;
    display: none;
}
.mlimg3{
    width: 100%;
    height: auto;
    display: none;
}
.mlche1:checked ~ .mlimg1{
    display: block;
}
.mlche2:checked ~ .mlimg2{
    display: block;
}
.mlche3:checked ~ .mlimg3{
    display: block;
}
.mlplayerwrap{
    width: 100%;
    height: 450px;
 position: relative;
    margin-top: 50px;
}
.mlche4{
    display: none;
}
.mllab4{
    display: block;
    width: 150px;
    height: 150px;
    border-radius:75px;
    color: #ffffff;
    font-family: "MV Boli";
    font-size: 25px;
    line-height: 150px;
    text-align: center;
    position: absolute;
    left: 45%;
    top: 35%;
    background:url("../images/mllogo4.png");
    background-position: center center;
    background-size: 230px 150px;
}
.mlplayerimg1,.mlplayerimg2,.mlplayerimg3,.mlplayerimg4,
.mlplayerimg5,.mlplayerimg6,.mlplayerimg7,.mlplayerimg8,
.mlplayerimg9,.mlplayerimg10,.mlplayerimg11,.mlplayerimg12{
    opacity: 0;
}
.mlplayerwrap1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 5%;
}
.mlplayerwrap2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg1{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    /*-webkit-animation-delay:40.6s;*/
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg2{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:0.2s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg3{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:0.4s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg4{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:0.6s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg5{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:0.8s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap1 .mlplayerimg6{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:1.2s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg7{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:1.4s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg8{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:1.6s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg9{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:1.8s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg10{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:2.0s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg11{
    -webkit-animation: frame21 0.5s linear,
    frame22 0.5s linear;
    -webkit-animation-delay:2.2s;
    -webkit-animation-fill-mode :forwards;
}
.mlche4:checked ~ .mlplayerwrap2 .mlplayerimg12{
     -webkit-animation: frame21 0.5s linear,
     frame22 0.5s linear;
     -webkit-animation-delay:2.4s;
     -webkit-animation-fill-mode :forwards;
 }

@media screen and (max-width: 800px){
    .mllogo{
        width:300px;
    }
    .mlmenu{
        height: 50px;
        font-size: 16px;
    }
    .mlmenu li:nth-child(1){
        margin-left: 10px;
    }
    .mlmenu li{
        width:150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
    .mlmenu li:hover{
        background-position: left center;
        background-size: 28px auto;
    }
    .mlplayerimg1,.mlplayerimg2,.mlplayerimg3,.mlplayerimg4,
    .mlplayerimg5,.mlplayerimg6,.mlplayerimg7,.mlplayerimg8,
    .mlplayerimg9,.mlplayerimg10,.mlplayerimg11,.mlplayerimg12{
        width: 80px;
        height: 80px;
        opacity: 0;
    }
    .mlplayerwrap{
        height: 380px;
        margin-top: 30px;
    }
    .mllab4{
        width: 120px;
        height: 120px;
        border-radius:60px;
        font-size: 20px;
        line-height: 120px;
        left: 45%;
        top: 35%;
        background-size: 200px 120px;
    }
}
@media screen and (max-width: 540px){
    .mllogo{
        width:200px;
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .mlmenu{
        height: 40px;
        font-size: 13px;
    }
    .mlmenu li:nth-child(1){
        margin-left: 0px;
    }
    .mlmenu li{
        width:100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    .mlmenu li:hover{
        background-position: left center;
        background-size: 20px auto;
    }
    .mlplayerimg1,.mlplayerimg2,.mlplayerimg3,.mlplayerimg4,
    .mlplayerimg5,.mlplayerimg6,.mlplayerimg7,.mlplayerimg8,
    .mlplayerimg9,.mlplayerimg10,.mlplayerimg11,.mlplayerimg12{
        width: 50px;
        height: 50px;
        /*opacity: 0;*/
    }
    .mlplayerwrap{
        height: 300px;
        margin-top: 30px;
    }
    .mllab4{
        width: 100px;
        height: 100px;
        border-radius:50px;
        font-size: 17px;
        line-height: 100px;
        left: 45%;
        top: 35%;
        background-size: 180px 120px;
    }

}